<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layoutSession :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title>Registration Home Page</title>
</head>
<body>

<!-- End Navbar -->
<div class="content" >
    <div class="container-fluid">

        <div class="row page-header">
            <h2><b>eFile HOMEPAGE</b></h2>
        </div>

        <div class="row page-alert" style="display: none">
            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
            <span class="page-alert">
                <font siz="3" color="#8b0000">System outtage toinght from 12am to 3 am for scheduled maintenance.</font>
            </span>
        </div>

        <!-- start of main page content -->
        <div class="container-fluid">

            <!-- star of row 1 -->
            <div class="row" id="dashboard-row1">
                <!--row 1 column 1 -->
                <div class="col-sm-6">
                    <!--data tables for filings/applications -->

                </div>
                <!-- end of row 1 column 1-->
                <!-- row 1 column 2 -->
                <div class="col-sm-6">
                    <!-- normal tables for announcements-->


                </div>
                <!--end of row 1 column 2 -->



            </div>
            <!--end of row 1 -->
            <!--start of row 2 -->
            <div class="row" id="dashboard-row2">
                <!--row 2 column 1 -->
                <div class="col-sm-6">
                    <!--data tables for user actions  -->

                </div>
                <!-- end of row 2 column 1-->

            </div>
            <!-- end of row 2 -->





        </div>

    </div> <!-- end of container fluid -->
</div>
<!-- end of main content-->








<script>
    $(document).ready(function() {
        $('.form-container').hide();
        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('.form-container').fadeIn(500);
        }, 500);




    });
</script>

</body>
</html>