<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layoutSession :: layout (~{::body},'registration')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title>Registration Home Page</title>
</head>
<body>

<!-- End Navbar -->
<div class="content" style="overflow:auto;">
    <div class="container-fluid" >

        <div class="col-md-15" >
            <div class="form-container" style=" display: none; max-height:3000px;  margin-bottom: 300px; background-image: linear-gradient(whitesmoke, white); border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;">
                <div style="position: relative;top:26px; margin-left: 40px;">
                    <h1><b>User Account</b></h1>
                </div>
                <div class="card-header card-header-rose card-header-text">

                    <div class="card-text">

                        <h5 class="card-title"><b>Sign In</b></h5>
                    </div>
                </div>

                        <div class="row" style="position: relative; left:165px;">
                            <label class="col-sm-2 col-form-label" style="margin-top: 10px;">E-Mail Address</label>
                            <div class="col-sm-4">

                                <div class="form-group">
                                    <input type="email"   id="emailuser" placeholder="Email" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;"  th:value="${user.email}">


                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-left:15px;">
                            <div class="col-sm-4">


                                <div class="card card-menu" style="position:relative; top:20px;left:10px; border-color: gray; height:auto;   max-width:80%;  border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;"  >


                                    <div class="card-header card-header-blue text-center" style="padding-top: 20px;padding-bottom:20px;position:relative;top: -10px; background-color: gray; border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;">
                                        <b class="card-title" style=""> Change Email Address</b>
                                    </div>


                                    <div class="card-body " style="position:relative;top: 5px;">
                                        <p class="card-description text-center"><b>You will need to sign in with your NEW eMail address after this change.</b></p>

                                        <span class="bmd-form-group">

                                        </span>

                                    </div>


                                    <div class="card-footer justify-content-center" style="padding-top: 10px;  position:relative;top: 10px; padding-bottom: 50px;">

                                        <div class="form-group" ><button data-toggle="modal" data-target="#updateEmail" style="float:right; margin:auto; min-width: 100px; background-color: #0b75c9; border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;" class="btn btn-default" type="submit" value="Sign In"><span class="glyphicon glyphicon-log-in" ></span> &nbsp;&nbsp; Change&nbsp;</button></div>
                                    </div>

                                </div>


                            </div> <!-- end of column 1 element in row -->

                            <div class="col-sm-4">

                                <div class="card card-menu" style="position:relative; top:20px;left:-80px; border-color: gray; height:auto;   max-width:80%;  border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;"  >


                                    <div class="card-header card-header-blue text-center" style="padding-top: 20px;padding-bottom:20px;position:relative;top: -10px; background-color: gray; border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;">
                                        <b class="card-title" style="">Change Security Questions</b>
                                    </div>


                                    <div class="card-body " style="position:relative;top: 5px;">
                                        <p class="card-description text-center"><b>You can change your security question. Helps verify your identity.</b></p>

                                        <span class="bmd-form-group">

                                        </span>

                                    </div>


                                    <div class="card-footer justify-content-center" style="padding-top: 10px;  position:relative;top: 10px; padding-bottom: 50px;">

                                        <div class="form-group" ><button type="button" data-target="#updateSecurityQuestions" data-toggle="modal" style="float:right; margin:auto; min-width: 100px; background-color: #0b75c9; border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;" class="btn btn-default"  value="Update Security Question"><span class="glyphicon glyphicon-log-in" ></span> &nbsp;&nbsp; Change&nbsp;</button></div>
                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-4">

                                <div class="card card-menu" style="position:relative; top:20px;left:-172px; border-color: gray; height:auto;   max-width:80%;  border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;"  >


                                    <div class="card-header card-header-blue text-center" style="padding-top: 20px;padding-bottom:20px;position:relative;top: -10px; background-color: gray; border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;">
                                        <b class="card-title" style="">Change Password</b>
                                    </div>


                                    <div class="card-body " style="position:relative;top: 5px;">
                                        <p class="card-description text-center"><b>Your password will expire on January 5, 2019. in 180 days.</b></p>

                                        <span class="bmd-form-group">

                                        </span>

                                    </div>


                                    <div class="card-footer justify-content-center" style="padding-top: 10px;  position:relative;top: 10px; padding-bottom: 50px;">

                                        <div class="form-group" ><button type="button" data-toggle="modal" data-target="#updatePassword"  style="float: right; margin:auto; min-width: 100px; background-color: #0b75c9; border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;" class="btn btn-default"  value="Update Password"><span class="glyphicon glyphicon-log-in" ></span> &nbsp;&nbsp; Change&nbsp;</button></div>
                                    </div>

                                </div>

                            </div>


                        </div>

                        <div class="card-text">
                            <h5 class="card-title"><b>Two-Step Authentication</b></h5>
                        </div>
                        <div class="row">

                            <div class="col-sm-10">
                                <div class="form-group" style="margin-left: 50px;">
                                    <p>Some sections of uspto.gov requires a two-step authentication to confirm your identity. this provides an extra layer of security to your account by requiring you to enter a random generated authentication code.

                                    </p>
                                    <p><b>Select the default of your second level of authentication</b></p>
                                </div>
                            </div>
                        </div>


                       <div class="row">
                           <div class="col-md-14" >
                               <div class="col-sm-4">


                                   <div class="card card-menu" style="position:relative; top:20px;left:10px; border-color: gray; height:auto;   max-width:80%;  border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;"  >


                                       <div class="card-header card-header-blue text-center" style="padding-top: 20px;padding-bottom:20px;position:relative;top: -10px; background-color: gray; border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;">
                                           <input type="radio" id="emailAuthenticator">
                                           <b class="card-title" style="">Email</b>

                                       </div>


                                       <div class="card-body " style="position:relative;top: 5px;">
                                           <p class="card-description text-center"><b>6 digit code sent to e-mail lasts for twenty minutes.</b></p>

                                           <span class="bmd-form-group">

                                        </span>

                                       </div>


                                       <div class="card-footer justify-content-center" style="padding-top: 10px;  position:relative;top: 10px; padding-bottom: 50px;">

                                           <div class="form-group" ><button data-toggle="modal" data-target="#updateEmail" style="float:right; margin:auto; min-width: 100px; background-color: #0b75c9; border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;" class="btn btn-default" type="submit" value="Sign In"><span class="glyphicon glyphicon-log-in" ></span> &nbsp;&nbsp; Enable&nbsp;</button></div>
                                       </div>

                                   </div>

                               </div>

                               <div class="col-sm-6">

                                   <div class="card card-menu" style="position:relative; top:20px;left:-80px; border-color: gray; height:auto;   max-width:80%;  border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;"  >


                                       <div class="card-header card-header-blue text-center" style="padding-top: 20px;padding-bottom:20px;position:relative;top: -10px; background-color: gray; border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;">
                                           <input type="radio" id="googleAuthentidcator">
                                           <b class="card-title" style=""> Code Generator (Mobile App)</b>
                                       </div>


                                       <div class="card-body " style="position:relative;top: 5px;">
                                           <p class="card-description text-center"><b>6 digit code generated by mobile app. One-time set up required. Your mobile app must be set up before using this option.</b></p>

                                           <span class="bmd-form-group">

                                        </span>

                                       </div>


                                       <div class="card-footer justify-content-center" style="padding-top: 10px;  position:relative;top: 10px; padding-bottom: 50px;">

                                           <div class="form-group" ><button data-toggle="modal" data-target="#updateEmail" style="float:right; margin:auto; min-width: 100px; background-color: #0b75c9; border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;" class="btn btn-default" type="submit" value="Sign In"><span class="glyphicon glyphicon-log-in" ></span> &nbsp;&nbsp; Enable and Set Up&nbsp;</button></div>
                                       </div>

                                   </div>


                               </div>

                           </div>
                       </div>




                        <div class="card-text">
                            <h5 class="card-title"><b>Personal Information</b></h5>
                        </div>

                        <div class="row">
                            <label class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="firstName" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Middle Name</label>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="middleName" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <label class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="lastName" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2 col-form-label">Suffix</label>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select  class="form-control" name="suffix"  style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                        <option value="mr"><b>Mr</b></option>
                                        <option value="mrs"><b>Mrs</b></option>
                                        <option value="ms"><b>ms</b></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="card-text">
                            <h5 class="card-title"><b>Contact Information</b></h5>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Country</label>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="selectpicker countrypicker form-control bfh-countries" data-country="US" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="address" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-2 col-form-label">City</label>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="city" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <label class="col-sm-2 col-form-label">Phone</label>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="phone" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                    <span class="help-block">Your phone number won't be disclosed anywhere </span>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>



</div>
<!-- end of main content-->


<!--update email modal -->
        <div id="updateEmail" class="modal modal-email fade modal-lg" role="dialog" tabindex="-1" data-backdrop="false">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Change Email Address</h4>
                    </div>
                    <div class="modal-body">

                        <form method="post" action="/updateUserEmail" class="form-horizontal">

                            <div class="row">
                                <label class="col-sm-2"><b style="margin-left: 10px; padding-top: 10px;">e-Mail:</b></label>
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <input type="email"  id="email" placeholder="Email" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;"  th:value="${user.email}">
                                        <small id="emailHelp" class="form-text text-muted">Update the email associated with this account.</small>

                                    </div>
                                </div>
                            </div>
                        </form>



                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <button type="button" class="disclaimerDenyButton" data-dismiss="modal"><span class="glyphicon glyphicon-thumbs-down" disabled="true"></span> &nbsp;&nbsp;<b>Cancel</b>&nbsp;</button>
                            <button type="button" class="disclaimerAcceptButton" data-dismiss="modal"><span class="glyphicon glyphicon-thumbs-up" disabled="true"></span> &nbsp;&nbsp;<b>Update</b>&nbsp;</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
<!-- end of update email modal -->


<!--update security questions modal -->
<div id="updateSecurityQuestions" class="modal modal-password fade modal-lg" role="dialog" tabindex="-1" data-backdrop="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Security Question</h4>
            </div>
            <div class="modal-body">

                <form method="post" action="/updateUserQuestions" class="form-horizontal">

                    <div class="row">
                        <label class="col-sm-3"><b style="margin-left: 10px; padding-top: 10px;">Question 1:</b></label>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <select   id="questions1" placeholder="Password" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                            <option>what was your first car?</option>
                                            <option>what is the name of your favourite pet?</option>
                                            <option>what city were you in new years eve 1999?</option>
                                </select>



                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-3"><b style="margin-left: 10px; padding-top: 10px;">Answer:</b></label>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <input type="text"  id="answer1" placeholder="spot" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                <small id="answerhelp" class="form-text text-muted">answer to your security question. this also help us secure and recover your account.</small>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-3"><b style="margin-left: 10px; padding-top: 10px;">Question 2:</b></label>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <select   id="questions12" placeholder="Password" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                    <option>what was your first car?</option>
                                    <option>what is the name of your favourite pet?</option>
                                    <option>what city were you in new years eve 1999?</option>
                                </select>



                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-3"><b style="margin-left: 10px; padding-top: 10px;">Answer:</b></label>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <input type="text"  id="answer2" placeholder="spot" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                <small id="answerhelp2" class="form-text text-muted">answer to your security question. this also help us secure and recover your account.</small>

                            </div>
                        </div>
                    </div>

                </form>



            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="disclaimerDenyButton" data-dismiss="modal"><span class="glyphicon glyphicon-thumbs-down" disabled="true"></span> &nbsp;&nbsp;<b>Cancel</b>&nbsp;</button>
                    <button type="button" class="disclaimerAcceptButton" data-dismiss="modal"><span class="glyphicon glyphicon-thumbs-up" disabled="true"></span> &nbsp;&nbsp;<b>Update</b>&nbsp;</button>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- end of update password modal -->




<!--update password modal -->
            <div id="updatePassword" class="modal modal-password fade modal-lg" role="dialog" tabindex="-1" data-backdrop="false">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Change Account Password</h4>
                        </div>
                        <div class="modal-body">

                            <form method="post" action="/updateUserPassword" class="form-horizontal">

                                <div class="row">
                                    <label class="col-sm-2"><b style="margin-left: 10px; padding-top: 10px;">Current Password:</b></label>
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <input type="password"  id="oldpassword" placeholder="Password" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;"  th:value="${account.password}">
                                            <small id="passwordHelp1" class="form-text text-muted">Enter you current password here.</small>

                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <label class="col-sm-2"><b style="margin-left: 10px; padding-top: 10px;">New Password:</b></label>
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <input type="password"  id="password" placeholder="Password" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;" >
                                            <small id="passwordHelp2" class="form-text text-muted">Enter your New password here.</small>

                                        </div>
                                    </div>


                                </div>
                            </form>



                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <button type="button" class="disclaimerDenyButton" data-dismiss="modal"><span class="glyphicon glyphicon-thumbs-down" disabled="true"></span> &nbsp;&nbsp;<b>Cancel</b>&nbsp;</button>
                                <button type="button" class="disclaimerAcceptButton" data-dismiss="modal"><span class="glyphicon glyphicon-thumbs-up" disabled="true"></span> &nbsp;&nbsp;<b>Update</b>&nbsp;</button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
<!-- end of update password modal -->

<script>
    $(document).ready(function() {
        $('.form-container').hide();
        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('.form-container').fadeIn('slow');
        }, 500);





    });
</script>

</body>
</html>