<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{fragments/layout :: layout (~{::body},'registration')}">
<head >
    <meta charset="UTF-8">
    <title>Registration Home Page</title>
</head>
<body>

<!-- End Navbar -->
<div class="content" style="overflow:auto;">
    <div class="container-fluid" >

            <div class="col-md-14" >
                <div class="form-container" style="display:none; max-height:3000px; margin-bottom: 300px; background-image: linear-gradient(whitesmoke, white); border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;">
                    <div style="position: relative;top:26px; margin-left: 40px;">
                        <h1><b>New User Account</b></h1>
                    </div>
                    <div class="card-header card-header-rose card-header-text">

                        <div class="card-text">

                            <h5 class="card-title"><b>Account Details</b></h5>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form method="post" action="/newUser" class="form-horizontal" th:object="${userCredentialsDTO}">

                            <div class="row">
                                <label class="col-sm-2 col-form-label">E-Mail <r>*</r></label>
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <input type="email" th:field="*{email}"  id="email" placeholder="Email" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;"  th:required>
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                        <p th:each="error : ${#fields.errors('email')}"
                                           th:text="${error}">Validation error</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Password *</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text"  th:field="*{password}" id="password" placeholder="Password" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;" th:required>
                                        <p th:each="error : ${#fields.errors('password')}"
                                           th:text="${error}">Validation error</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Confirm *</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" th:field="*{matchingPassword}" id="password" placeholder="Password" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;" th:required>
                                    </div>
                                </div>
                            </div>

                        <div class="card-text">
                            <h5 class="card-title"><b>Owner Details</b></h5>
                        </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">First Name</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="firstName" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Middle Name</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="middleName" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <label class="col-sm-2 col-form-label">Last Name</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="lastName" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Suffix</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select  class="form-control" name="suffix"  style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                            <option value="mr"><b>Mr</b></option>
                                            <option value="mrs"><b>Mrs</b></option>
                                            <option value="ms"><b>ms</b></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        <div class="card-text">
                            <h5 class="card-title"><b>Correspondant Details</b></h5>
                        </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="address" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">City</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="city" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Country</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="country" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Phone</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="phone" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                        <span class="help-block">Your phone number won't be disclosed anywhere </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">disclaimer</label>
                                <div class="col-sm-6">
                                    <div class="form-group">

                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: auto;">
                                <label class="col-sm-2 col-form-label">Register</label>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <button style="margin-left: 90px; min-width: 292px; background-color: #0b75c9; border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;" class="btn btn-default" type="submit" value="Register"><span class="glyphicon glyphicon-log-in" ></span> &nbsp;&nbsp;Register&nbsp;</button>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>


    </div>
</div>

<script>
    $(document).ready(function() {
        $('.form-container').hide();
        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('.form-container').fadeIn('slow');
        }, 600);
    });
</script>

</body>
</html>