<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{fragments/layout :: layout (~{::body},'registration')}">
<head >
    <meta charset="UTF-8">
    <title>Registration Home Page</title>
</head>
<body style="overflow: auto;">

<!-- End Navbar -->
<div class="content">
    <div class="container-fluid" style="background-image: linear-gradient(whitesmoke, white); border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header card-header-rose card-header-text">
                        <div style="margin-top: 10px; margin-left: 20px;">
                            <h1><b>New User Account</b></h1>
                        </div>
                        <div class="card-text" style=" position:relative; left:-60px; min-width: 1050px; background-image: linear-gradient(gray, lightgray); margin-top: 30px;margin-right: 400px; margin-bottom: 40px; padding:5px 0px 5px 75px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;">
                            <h5 class="card-title"><b>Account Details</b></h5>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form method="get" action="/" class="form-horizontal">

                            <div class="row">
                                <label class="col-sm-2 col-form-label">E-Mail</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                    </div>
                                </div>
                            </div>




                            <div class="row">
                                <label class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="password" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Confirm Password</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="passwordConfirm" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                    </div>
                                </div>
                            </div>

                        <div class="card-text" style=" position:relative; left:-60px; min-width: 1050px; background-image: linear-gradient(gray, lightgray); margin-top: 20px;margin-right: 400px; margin-bottom: 20px; padding:5px 0px 5px 75px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;">
                            <h5 class="card-title"><b>Owner Details</b></h5>
                        </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">First Name</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="firstName" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Middle Name</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="middleName" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <label class="col-sm-2 col-form-label">Last Name</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="lastName" class="form-control" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Suffix</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select  class="form-control" name="suffix"  style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                            <option value="mr">Mr</option>
                                            <option value="mrs">Mrs</option>
                                            <option value="ms">ms</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        <div class="card-text" style=" position:relative; left:-60px; min-width: 1050px; background-image: linear-gradient(gray, lightgray); margin-top: 20px;margin-right: 400px; margin-bottom: 20px; padding:5px 0px 5px 75px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-top-right-radius: 20px;">
                            <h5 class="card-title"><b>Geo-Location Details</b></h5>
                        </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label label-checkbox">Select application view for new applications</label>
                                <div class="col-sm-10 checkbox-radios">

                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="exampleRadios" value="option2" checked> Guided User View
                                            <span class="circle">
                              <span class="check"></span>
                            </span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="exampleRadios" value="option1"> Experienced User View
                                            <span class="circle">
                              <span class="check"></span>
                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>